body {
	background-color: #eeeeee;
	font-family: sans-serif;
    font-size: 12px;
	width: 80%;

}

form {
    background: none repeat scroll 0 0 #cccccc;
    border: 1px solid #E5E5E5;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    font-weight: normal;
    margin-left: 8px;
    padding: 26px 24px 46px;
}

label {
    color: #777777;
    font-size: 14px;
}


body form .field input {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: medium none;
    padding: 3px;
    width: 27%;
}


body form .actions input {
  background: url(/images/round-btn.gif) top left no-repeat;
  width: 150px;
  height: 32px;
  border: 0px;
  font-size: 120%;
  color: #666;
}


#new_complaint {
	vertical-align: middle;
}

body form select {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    list-style: none outside none;
    margin: 0 2px;
    min-width: 46px;
    outline: medium none;
    padding: 0 18px 0 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

#error_explanation {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
  border: 1px dashed red;
}

#error_explanation ul {
  margin: 2px 24px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}

table, td, th
{
	border:1px solid green;
}
th
{
	background-color:green;
	color:white;
}

a {
  color: #2276bb;
  text-decoration: none;
  font-weight: bold;
}